// src/styles/variables.scss

$color-primary: #ddddde;
$color-secondary: rgba(33, 33, 33, 0.1);

$color-text: #151414;
$color-muted: #777;

$spacing-base: 1rem;
$spacing-sm: 0.5rem;
$spacing-lg: 2rem;

$font-main: 'Segoe UI', sans-serif;
